@import 'tailwindcss';

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
}

@layer components {
  .btn {
    display: inline-block;

    padding-left: calc(var(--spacing) * 4);
    padding-right: calc(var(--spacing) * 4);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);

    border-radius: var(--radius-md);
    border-width: 1px;
    border-color: var(--color-gray-700);

    color: var(--color-gray-800);

    text-align: center;
    text-decoration: none;
    margin: calc(var(--spacing) / 2) 0;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      filter: opacity(0.65) grayscale(0.8);
      cursor: not-allowed;
    }
  }

  .btn-primary {
    background-color: #fdf1ff;
    border-color: #e5b2f0;
    color: #53295c;
  }

  .btn-secondary {
    background-color: none;
    border-color: #e5b2f0;
    color: #53295c;
  }

  .card {
    @apply overflow-auto rounded-md bg-white shadow-md;

    > .card-header,
    > .card-footer {
      @apply flex min-h-8 items-center justify-center gap-2 border-t border-b border-gray-300 bg-gray-100 p-2;
    }
    > .card-header > :is(h2, h3, h4, h5, h6) {
      @apply text-sm font-bold;
    }

    > .card-body {
      @apply p-4;
    }
  }
}
